<p id="notice"><%= notice %></p>
<h1>All Posts</h1>
<%= link_to 'New Post', new_post_path %>
<% @posts.each do |post| %>
<article class="post">
  <p class="content">
    <strong><%= post.user.name %></strong>
  </p>
  <hr>
  <%= image_tag(post.image.url) if post.image && post.image.url %>
  <p><%= post.posts %></p>
  <br>
  <small><%= post.created_at.strftime('%Y/%-m/%-d %-H:%-M') %></small>
  <br>
  <span><%= link_to 'Show', post %></span>
  <span><%= link_to 'Edit', edit_post_path(post) %></span>
  <span><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
</article>
<% end %>
